.topBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; /* Centra los elementos horizontalmente */
  padding: 1rem; /* Espacio interno */
  /* background-color: rgba(0, 0, 0, 0); Fondo semitransparente */
  /* backdrop-filter: blur(10px); Efecto de desenfoque */
  z-index: 999;
  transition: background-color 0.3s ease-in-out;
}

.topBar.scrolled {
  background-color: rgb(52, 52, 52); /* Fondo más oscuro al desplazarse */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0); /* Sombra suave */
}

.topBar a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 0 1rem;
  transition: color 0.3s ease-in-out;
}

.topBar a:hover {
  color: #f0f0f0; /* Color de hover */
}

.logo {
  /* Estilos para tu logo */
  width: 50px;
  height: 50px;
}



/* Ocultar el óvalo en pantallas pequeñas */
@media (max-width: 768px) {
  .topBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; /* Centra los elementos horizontalmente */
    padding: 1rem; /* Espacio interno */
    /* background-color: rgba(0, 0, 0, 0); Fondo semitransparente */
    /* backdrop-filter: blur(10px); Efecto de desenfoque */
    z-index: 999;
    transition: background-color 0.3s ease-in-out;
  }

  .topBar a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    margin: 0 1rem;
    transition: color 0.3s ease-in-out;
    width: 100%;
  }
}