body {
  font-family: 'Epilogue', sans-serif;
  margin: 0;
  padding: 0;
  color: black;
  overflow-x: hidden;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero, .second-section, .experience-section {
  max-width: 100vw; /* Asegúrate de que las secciones no se extiendan fuera de la pantalla */
  overflow-x: hidden;
}

.kau-font {
  font-family: 'Righteous', sans-serif;
}

/* Hero Section */
.hero {
  position: relative;
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.hero-imagetitle{
  width: 30%;
  height: auto;
  z-index: 1;
}

.hero-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6rem; /* Usando rem en lugar de px */
  color: white;
  text-align: center;
  font-family: 'Righteous', sans-serif;
  z-index: 2;
}

.section-title {
  font-size: medium;
  margin: 0;
  background-color: #dfdfdf;
  color: black;
  width:15;
  height: auto;
  border-radius: 5rem;
  padding: 10px; /* Espacio interno */
  display: inline-block;
  margin-bottom: 0.5rem;
}

.section-title-footer{
  margin-bottom: 0;
}

/* TopBar */
.topBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  padding: 1rem 0;
}

/* About Section */
.about-section {
  padding: 2rem;
  padding-bottom: 0;
  text-align: center;
}

.about-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem; /* Uso de rem para el espaciado */
}

.about-text {
  text-align: left;
  color: black;
}

#title {
  font-size: x-large;
  margin-bottom: 0;
}

#paragraph1 {
  font-size: large;
}

#paragraph4 {
  font-size: x-large;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.about-image {
  width: 15rem; /* Tamaño de imagen ajustado en rem */
  height: auto;
}

/* Contact Button */
.contact-button {
  margin-top: 0rem;
  padding: 0.5rem 2rem;
  background-color: #000;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%; /* Botón ocupa todo el ancho en móviles */
}

/* Values Section */
.values-section {
  padding: 2rem;
  text-align: center;
}

.values-grid {
  display: flex;
  flex-direction: column; /* Cambia a columna en dispositivos móviles */
  justify-content: space-around;
}

.value-box {
  width: 100%; /* Ocupa el 100% del ancho en dispositivos móviles */
  margin: 1rem 0;
  text-align: center;
}

/* Purpose Section */
.purpose-section {
  padding: 2rem ;
  background-color: #f5f5f5;
}

.mission-vision {
  display: flex;
  flex-direction: column;
}

.mission,
.vision {
  background: white;
  padding: 1rem;
  margin: 0.5rem;
}

/* Join Section */
.join-section {
  padding: 2rem;
  text-align: center;
}

.myImage3 {
  display: block;
  margin: auto;
  width: 25rem; /* Ajustando en rem */
  height: auto;
  border-radius: 1rem;
}

/* Experience Section */
.experience-section {
  background-color: rgb(0, 0, 0);
  padding: 2rem;
  text-align: center;
}

.experience-section h2 {
  color: white;
}

.experience-icons {
  display: flex;
  justify-content: center;
  gap: 2rem;
  font-size: 2rem;
}

.experience-icons a {
  color: white; /* Mantén los iconos en color blanco */
  text-decoration: none;
  margin-top: 1rem;
}

.experience-icons a:hover {
  color: white; /* Asegura que el color siga siendo blanco al hacer hover */
}

/* Mobile Styles */
@media (max-width: 767px) {

  body {
    font-family: 'Epilogue', sans-serif;
    margin: 0;
    padding: 0;
    color: black;
    overflow-x: hidden;
  }

  .container {
    max-width: 90%; /* Ajusta el ancho máximo según tus necesidades */
    margin: 0 auto;
  }

  #title{
    font-size: x-large;
  }

  .elemento {
    width: 33.33%; /* Ajusta el ancho para distribuir los elementos de forma equitativa */
    flex: 0 0 auto; /* Evita que los elementos se estiren más de lo necesario */
  }

  .hero-imagetitle{
    width: 60%;
    height: auto;
    z-index: 1;
  }

  .hero-text {
    font-size: 8rem; /* Reducir el tamaño de la fuente en móvil */
  }

  .hero-image {
    width: 100%;
  }

  .about-content {
    flex-direction: column;
    align-items: center;
    gap: 2rem; /* Ajustar el espaciado */
  }

  .myImage3 {
    width: 100%;

  }

  .about-text {
    flex: 1;
  }

  .about-image {
    width: 100%; /* Ajusta el tamaño de la imagen en móvil */
    border-radius: 1rem;
  }

  .values-section{
    padding-bottom: 0;
  }

  .values-grid {
    flex-direction: column;
  }

  .value-box {
    width: 100%;
  }

  .mission-vision {
    flex-direction: column;
  }

  .myImage3{
    border-radius: 0;
  }

  .experience-icons {
    font-size: 1.5rem;
  }

  .purpose-section{
    padding-bottom: 0;
  }
  
  #paragraph5 {
    font-size: x-large;
    text-align: center;
    padding: 2rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* ... otros estilos ... */

  .container {
    max-width: 90%; /* Ajusta el ancho máximo según tus necesidades */
    margin: 0 auto;
  }

  .hero-imagetitle{
    width: 40%;
    height: auto;
    z-index: 1;
  }

  .about-section {
    padding: 5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .values-section{
    padding: 15rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .about-image {
    width: 100%; /* Ajusta el tamaño de la imagen en móvil */
    height: auto;
    border-radius: 1rem;
  }

  .elemento {
    width: 33.33%; /* Ajusta el ancho para distribuir los elementos de forma equitativa */
    flex: 0 0 auto; /* Evita que los elementos se estiren más de lo necesario */
  }

  /* Ajusta el tamaño de las fuentes y las imágenes según sea necesario */
  h2, h3, p {
    font-size: 1.2rem; /* Ajusta el tamaño de la fuente */
  }

  img {
    max-width: 100%; /* Asegúrate de que las imágenes no superen el ancho del contenedor */
  }

  .about-text {
    max-width: 50%;
    text-align: left;
    color: black;
  }

  .myImage3 {
    width: 75rem;
    margin-top: 2rem;
    border-radius: 0;
  }

  .contact-button {
    width: 15rem;
    height: 3rem;
    border-radius: 5rem;
  }

  .purpose-section{
    padding: 10rem;
    padding-top: 1rem;
    padding-bottom: 0rem;
  }

  .join-section{
    padding: 10rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
.contact-button-container{
  justify-items: center;
}

.values-section {
  padding: 10rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  text-align: center;

}

.values-grid {
  display: flex;
  flex-direction: column; /* Cambia a columna en dispositivos móviles */
  justify-content: space-around;
}

.value-box {
  width: 100%; /* Ocupa el 100% del ancho en dispositivos móviles */
  margin: 1rem 0;
  text-align: center;
}



  #paragraph5 {
    font-size: x-large;
    text-align: center;
    padding: 2rem;
  }

  .section-title{
    margin-bottom: 2rem;
  }
}
/* Desktop Styles */
@media (min-width: 1025px) {
  .hero {
    height: 90vh;
  }

  .hero-text {
    font-size: 10rem; /* Ajuste en rem */
  }

  .about-section {
    padding: 2rem;
  }
  
  .about-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    padding-top: 2rem;
    align-items: start;
    justify-content: center;
  }

  #title {
    font-size: xx-large;
    margin-top: 0;
  }

  #paragraph1,
  #paragraph2,
  #paragraph3 {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
  }

  #paragraph4 {
    text-align: left;
    font-weight: bold;
  }

  .about-text {
    max-width: 50%;
    text-align: left;
    color: black;
  }

  .values-section{
    margin-left: 8rem;
    margin-right: 8rem ;
    justify-items: center;
  }

  .purpose-section{
    padding-left: 4rem;
    padding-right: 4rem ;
  }



  .join-section{
    margin-left: 15rem;
    margin-right: 15rem;
  }

  .contact-button {
    width: 15rem;
    height: 3rem;
    border-radius: 5rem;
  }

  .about-image {
    width: 30rem;
    height: auto;
    border-radius: 1rem;
  }

  .values-grid {
    flex-direction: row;
    gap: 1rem;
    margin-top: 2rem;
    margin: 0;
    padding: 0;
  }

  .value-box{
    max-width:20rem;
  }

  .value-box {
    width: 25%;
  }

  .mission-vision {
    flex-direction: row;
  }

  #paragraph5 {
    font-size: x-large;
    text-align: center;
    margin-top: 3rem;
    font-weight: bold;
  }

  .myImage3 {
    width: 55rem;
    margin-top: 2rem;
  }

  .experience-icons {
    font-size: 2.5rem;
  }

  .container {
    max-width: 90%; /* Ajusta el ancho máximo según tus necesidades */
    margin: 0 auto;
  }

  .elemento {
    width: 33.33%; /* Ajusta el ancho para distribuir los elementos de forma equitativa */
    flex: 0 0 auto; /* Evita que los elementos se estiren más de lo necesario */
  }
}